{{- if .Values.appMongo.uri.create }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.appMongo.uri.secretName }}
  labels:
    {{- include "demo-crm.labels" . | nindent 4 }}
type: Opaque
stringData:
  {{ .Values.appMongo.uri.key }}: {{ .Values.appMongo.uri.value | quote }}
{{- end }}
